@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link {
		@apply text-sm font-medium text-blue-600 hover:text-black dark:text-blue-400 dark:hover:text-white;
	}
	nav a.active {
		@apply bg-slate-200 dark:bg-slate-800;
	}
	nav a.active svg {
		@apply text-blue-600;
	}

	div.activeCollection {
		@apply bg-slate-200 dark:bg-slate-700;
	}
	a.activeLinkButton {
		@apply bg-blue-500 text-slate-100 dark:text-slate-900;
	}
}

:root {
	--ctx-menu-background: #eeeeee;
	--ctx-menu-border: 1px solid #aaaaaa;
	--ctx-menu-border-radius: 0.5rem;
	--ctx-menu-hover-bg: #bbbbbb;
	--ctx-menu-font-size: 0.9rem;
	--ctx-menu-padding: 0.375rem 0.5rem;
}

html.dark {
	--ctx-menu-background: rgb(15 23 42);
	--ctx-menu-border: 1px solid rgb(30 41 59);
	--ctx-menu-border-radius: 0.5rem;
	--ctx-menu-font-color: rgb(241 245 249);
	--ctx-menu-hover-color: rgb(30 41 59);
	--ctx-menu-hover-bg: rgb(100 116 139);
	--ctx-menu-font-size: 0.9rem;
	--ctx-menu-padding: 0.375rem 0.5rem;
}
